body {
    margin: 16px 0;
    color: #ffb15e;
    background-color: #222;
    font-family: "Inconsolata", monospace;
    font-weight: 500;
}

.table-dark {
    color: #ffb15e;
    background-color: #292929;
}

.center {
    text-align: center;
}

.text {
    font-weight: 500;
}

.captor-logomark {
    margin-left: 24px;
    width: 50px;
}
.captor-logomark path {
    stroke: #fff;
}

.react-logomark {
    width: 83px;
}
